### Shoe Image Collection

##### Onlineshoes.com

Code to write out an image that using urllib

In [1]:
import urllib
from scipy import misc
import numpy as np
resource=urllib.urlopen('http://s2.onlineshoes.com/images/br005/27957_120_45.jpg')
output=open("Shoe.jpg","wb")
output.write(resource.read())
output.close()
f = misc.face()
f = misc.imread('Shoe.jpg')
! rm 'Shoe.jpg'

In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from scipy import misc
import requests
import urllib


resource=urllib.urlopen('http://s2.onlineshoes.com/images/br005/27957_120_45.jpg')
output=open("Shoe.jpg","wb")
output.write(resource.read())
output.close()
! rm Shoe.jpg

OSs='http://www.onlineshoes.com/mens-shoes-list_ct1/'
MensShoes=pd.DataFrame(columns=['image','category','name','price','sale_price','original_price'])

for I in range (1,2):
    OSs_URL=OSs+str(I)+'/60'
    r=requests.get(OSs_URL)
    soup=BeautifulSoup(r.text,"html")
    soups=soup.select('a.product-thumb')
    
    for i in range(0,60):
        image = soups[i].select('img')
        category=soups[i].select('h6.product-category')
        name=soups[i].select('span.product-name')
        price=soups[i].select('span.product-price')
        sale_price=soups[i].select('span.sale-price')
        original_price=soups[i].select('span.original-price')
        a=''
        b=''
        c=''
        d=''
        e=''
        f=''
        try:
            a=image[0]['src']
        except:
            pass
        try:
            b=category[0].text.strip()
        except:
            pass
        try:
            c=name[0].text.strip()
        except:
            pass
        try:
            d=price[0].text.strip()
        except:
            pass
        try:
            e=sale_price[0].text.strip()
        except:
            pass
        try:
            f=original_price[0].text.strip()
        except:
            pass
                  
        MensShoes.loc[len(MensShoes)]=[a,b,c,d,e,f]

In [4]:
MensShoes.head(2)

,image,category,name,price,sale_price,original_price
0,http://s2.onlineshoes.com/images/br008/mens-ne...,Men's New Balance,MW577 - Hook & Loop,,$66.99,$76.95
1,http://s3.onlineshoes.com/images/br008/mens-ne...,Men's New Balance,MX608v4,,$59.99,$69.95

In [5]:
MensShoes.to_csv('MensShoes.csv',encoding='utf-8')

In [7]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from scipy import misc
import requests
import urllib


OSs='http://www.onlineshoes.com/womens-shoes-list_ct1/'
WomensShoes=pd.DataFrame(columns=['image','category','name','price','sale_price','original_price'])

for I in range (1,2):
    OSs_URL=OSs+str(I)+'/60'
    r=requests.get(OSs_URL)
    soup=BeautifulSoup(r.text,"html")
    soups=soup.select('a.product-thumb')
    
    for i in range(0,60):
        image = soups[i].select('img')
        category=soups[i].select('h6.product-category')
        name=soups[i].select('span.product-name')
        price=soups[i].select('span.product-price')
        sale_price=soups[i].select('span.sale-price')
        original_price=soups[i].select('span.original-price')
        a=''
        b=''
        c=''
        d=''
        e=''
        f=''
        try:
            a=image[0]['src']
        except:
            pass
        try:
            b=category[0].text.strip()
        except:
            pass
        try:
            c=name[0].text.strip()
        except:
            pass
        try:
            d=price[0].text.strip()
        except:
            pass
        try:
            e=sale_price[0].text.strip()
        except:
            pass
        try:
            f=original_price[0].text.strip()
        except:
            pass
                  
        WomensShoes.loc[len(WomensShoes)]=[a,b,c,d,e,f]

In [8]:
WomensShoes.to_csv('WomensShoes.csv',encoding='utf-8')

In [9]:
DS=pd.read_csv('WomensShoes.csv')

In [10]:
DS.head(2)

,Unnamed: 0,image,category,name,price,sale_price,original_price
0,0,http://s1.onlineshoes.com/images/br008/womens-...,Women's New Balance,WW577,NaN,$65.99,$76.95
1,1,http://s2.onlineshoes.com/images/br037/213422_...,Women's Birkenstock,Arizona,$124.95,NaN,NaN

In [12]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from scipy import misc
import requests
import urllib


OSs='http://www.onlineshoes.com/shoes-child-list_ct1,ag2/'
KidsShoes=pd.DataFrame(columns=['image','category','name','price','sale_price','original_price'])

for I in range (1,2):
    OSs_URL=OSs+str(I)+'/60'
    r=requests.get(OSs_URL)
    soup=BeautifulSoup(r.text,"html")
    soups=soup.select('a.product-thumb')
    
    for i in range(0,60):
        image = soups[i].select('img')
        category=soups[i].select('h6.product-category')
        name=soups[i].select('span.product-name')
        price=soups[i].select('span.product-price')
        sale_price=soups[i].select('span.sale-price')
        original_price=soups[i].select('span.original-price')
        a=''
        b=''
        c=''
        d=''
        e=''
        f=''
        try:
            a=image[0]['src']
        except:
            pass
        try:
            b=category[0].text.strip()
        except:
            pass
        try:
            c=name[0].text.strip()
        except:
            pass
        try:
            d=price[0].text.strip()
        except:
            pass
        try:
            e=sale_price[0].text.strip()
        except:
            pass
        try:
            f=original_price[0].text.strip()
        except:
            pass
                  
        KidsShoes.loc[len(KidsShoes)]=[a,b,c,d,e,f]

In [13]:
KidsShoes.to_csv('KidsShoes.csv',encoding='utf-8')

In [14]:
df=pd.read_csv('KidsShoes.csv').head()

In [15]:
df['image'][0]

'http://s2.onlineshoes.com/images/br009/307630_120_45.jpg'

In [17]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from scipy import misc
import requests
import urllib


OSs='http://www.onlineshoes.com/womens-shoes-list_ct1/'
WomensShoes=pd.DataFrame(columns=['image','category','name','price','sale_price','original_price'])

for I in range (1,2):
    OSs_URL=OSs+str(I)+'/60'
    r=requests.get(OSs_URL)
    soup=BeautifulSoup(r.text,"html")
    soups=soup.select('a.product-thumb')
    
    for i in range(0,60):
        image = soups[i].select('img')
        category=soups[i].select('h6.product-category')
        name=soups[i].select('span.product-name')
        price=soups[i].select('span.product-price')
        sale_price=soups[i].select('span.sale-price')
        original_price=soups[i].select('span.original-price')
        a=''
        b=''
        c=''
        d=''
        e=''
        f=''
        try:
            a=image[0]['src']
        except:
            pass
        try:
            b=category[0].text.strip()
        except:
            pass
        try:
            c=name[0].text.strip()
        except:
            pass
        try:
            d=price[0].text.strip()
        except:
            pass
        try:
            e=sale_price[0].text.strip()
        except:
            pass
        try:
            f=original_price[0].text.strip()
        except:
            pass
                  
        WomensShoes.loc[len(WomensShoes)]=[a,b,c,d,e,f]